.DS_Store
.idea
*.log
*.temp
*.pyc
*.py.un~
.idea*
.idea/*
\.idea*
.vscode*
.vscode/*
\.vscode*
__pycache__/
JavaLogs/
JavaLogs/*
JavaLogs.zip
PythonLogs/
PythonLogs/*
PythonLogs.zip
*.zip
*.sh
local/
local/*